#body-layout{
    width: 1200px;
    height: 950px;
    margin: -5px auto;

    
}
#header-layout{
    width: 1200px;
    height: 160px;
    background-color: aquamarine;
    position: relative;
}
#menu-layout {
    width: 1200px;
    height: 60px;
    background-color: burlywood;
    -webkit-appearance : none;
    -moz-appearance: -webkit-appearance : none;
    appearance: -webkit-appearance : none;

}

#content-layout{
    width: 1200px;

}

#left-layout{
    width: 230px;
 height: 900px;
    background-color: darkgray;
    float: left;
}
#center-layout{
    width: 670px;
    height: 900px;
    background-color: whitesmoke;
    float: left;
}
#right-layout{
    width: 300px;
    height: 900px;
    background-color: darkgrey;
    float: right;
}
#myfooter {
	width: 1200px;
    margin-left:344px;
	background-color:pink;
	clear:both;
}

/*code css for menu*/
/*
.nav{
    width: 1198px;
    background: #677;
    border: 1px solid #677;
    height: 60px;
}
.nav ul{
    list-style: none;
    padding-left: 19px;
    margin:19px 0px;

}
.nav ul li{
    display: inline;
    margin:0;
    padding:0;
}
.nav ul li a, .nav ul li a:link, .nav ul li a:visited{
    padding:12px;
    color: #eef;
    font-family: arial;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    background: #677;
}
.nav ul li a:hover{
    background: #cce;
    color: #039;
    border-radius: 4px;
}
/*button search css code*/
/*
label{
    margin-left: 60px;
    font-family: Lucida Calligraphy;
    font: 15px;
    color: white;
}
#search{
    margin-left:0px;
    background-color:#eef;
    width: 220px;
    height: 22px;
    margin-top: -4px;
    border-radius: 7px;
    font-family: serif;
    font-size: 17px;
    border-color:#677 ;
}
#login{
    margin-left: 90px;
    width: 60px;
    height: 25px;
    margin-top: -2px;
    border-radius: 5px 5px;
    font-weight: bold;
    color: red;
}
#sign{
    margin-left: 15px;
    width: 65px;
    height: 25px;
    margin-top: -2px;
    border-radius: 5px 5px;
    font-weight: bold;
    color: blue;
}*/

/*footer*/
#conmenufooter{
	width:1200px;
	margin:0 auto;	
}
#colfooter{
	width:210px;
	display:inline-block;
	vertical-align:top;	
}
#menufooter{
	width:100%;
	padding:0px;
	margin:0px;		
}
#menufooter li{
	list-style:none;
	height:30px;
	line-height:30px;
	font-size:14px;	
}
#menufooter li a{
	text-decoration:none;
	color:blue;	
}
#menufooter li a:hover{
	text-decoration:underline;
	color:black;	
}


/*Bunnoeun*/
    #form-list {
    position:absolute;
    width:260px;
    background-color:lightblue;
	box-shadow: 1px 1px 4px rgba(100, 100, 100, 0.4);
    margin-bottom: 10px;
    margin-top: 8px;
	margin-left:10px;
    border-radius: 10px;
    padding-right:20px;
 
}
#signup_container{
	padding-bottom:10px;
	padding-left:17px;
	margin:0 auto;
}
h2.title {
    color: #21469e;
    font-size: 16px;
    font-weight: 700;
    margin: 10px 20px 0px;
    text-align: left;
  
}
.title small{
	color: #ff0214;
} 
.trans-box {
    background-color:greenyellow;
    border: 1px solid #d2d2d2 ;
    border-radius:10px;
    min-height: 250px;
    min-width: 100%;
    padding-top:10px;
}
#form-register {
    margin: 0;
 
}
#form-list .list {
    list-style-type:none;
    margin: 0;
    padding: 0;

}
#form-list .list li {
    padding: 2px 20px;
	padding-right:10px;
}
#form-register input[type="text"], #form-register input[type="password"], #form-register input[type="email"], #form-register input[type="phone"]{
    border: 1px solid #dddddd;
    border-radius: 2px;
    box-shadow: 0 0 0 2px #f4f4f4;
    color: #656565;
    font-family: inherit;
    font-size: 12px;
    padding: 3px 6px;
    width: 190px;
	
}
form .error {
    color: red;
}
#signup_container .css-contry-code {
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 0 0 2px #f4f4f4;
    color: #676767;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    padding: 3px 0 2px;
    width: 92px;
}
#form-register select {
    border: 1px solid #bdd3f6;
    color: #222222;
    font-size: 15px;
    line-height: 1.4em;
    padding: 1px;
    width: 98%;
}
.float-l {
     float: left;
}

#form-register label{
    margin-left:0px;
    font-size: 12px;
    line-height: 18px;
    padding: 2px;
    color: #444;
}
#form-register input[type="radio"] {

}
#form-register .dob_date .float-l {
    width: 69px;
}

#form-register select {
    border: 1px solid #bdd3f6;
    color: #222222;
    font-size: 12px;
    padding: 1px;
    width: 98%;
	height:25px;
}
#form-list .panel-footer {
    background: #f0f0f0 none repeat scroll 0 0;
    border-radius: 0 0 3px 3px;
    border-top: 1px solid #dadada;
    padding: 5px 15px;
}
.panel-footer {
    font-size: 11px;
    line-height: 15px;
}
 #form-list .panel-footer p {
    margin: 0.5em 0 !important;
}
 .panel-footer a {
    color: #21469e;
}
 a {
    color: #777;
    text-decoration: none;
}
 #form-list .panel-footer .panel-tools {
    text-align: right;
}
 #form-register .button {
    width: 60px;

}
 .button {
    background-color: #21469e;
    border: 0 solid #124d77;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Futura,"Century Gothic",AppleGothic,sans-serif;
    font-size: 12px;
    font-weight: 900;
    line-height: 10px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
}



#Conright-box{
    width: 280px;
    height: 200px;
    background-color: green;
    margin-bottom: 10px;
	margin-left:10px;
    border-radius: 3px;
    margin-top:468px;
}
#Conright-box-right {
    width: 130px;
    height: 190px;
    background-color: yellow;
    margin:5px;
    float:left;
}
#Conright-box-left {
    width: 130px;
    height: 190px;
    background-color: yellow;
    margin:5px;
    float:right;
}
#Conright-box-leftright {
    width: 120px;
    height: 40px;
    background-color: brown;
    margin:5px;
    float:left;
}
#Conright-box-leftleft {
    width: 120px;
    height: 135px;
    background-color: pink;
    margin:0 5px 5px 5px;
    float:right;
}

/*Bunheng*/

.nav ul{
	list-style-type: none;
	margin:0;
	padding: 0;
	background-color: #28B3D2;
	overflow: hidden;
}
.nav ul li {
	float: left;
}
.nav ul li a{
	display: inline-block;
	text-decoration: none;
	padding: 13px 16px;
	color: #2E5F6A;
}
.nav ul li a:hover{
	background-color: #3D575C;
	color: #B4C9CE;
}
nav li.mright{
	float: right;
}
#btnLogin{
	font-family: Georgia;
	font-size: 14px;
	border: none;
	padding: 15px 28px;
	background-color: #28B3D2;
	color: #3462BF;
}
#btnLogin:hover{	
	cursor: pointer;
	background-color: #7D98CC;
}
#txtsearch{
	font-size: 14px;
	margin-top: 6px;
	margin-right: 4px;
	padding: 6px 10px;
}
.nav li.icon{display: none;}
@media screen and (max-width:869px) {
	.nav li:not(:first-child){display: none;}
	.nav li.icon{
		float: right;
		display: inline-block;
	}
}
@media screen and (max-width:869px) {
	.nav.responsive{position: relative;}
	.nav.responsive li.icon{
		position: absolute;
		right: 0;
		top: 0;
	}
	.nav.responsive li{
		float: none;
		display: inline;
	}
	.nav.responsive li a{
		display: block;
		text-align: left;
	}
	#btnLogin{
		width: 100%;
	}
	#txtsearch{
		display: none;
	}
}
/*Pheara*/

#header{
	background-color: #254A89;
	margin: 0px;
    width: 1200px;
	height: 160px;
}


ol li a:hover{
	color: black;
}
#bodyright{
	background-color: red;
}

#btnreadmore{
	float: right;
	color: white;
	background-color:royalblue;
	border-radius:7px;
    font-weight:900;
    margin-top:0px;

}
#divimage{
	display: inline-block;
    width:500px;
    height:300px;
}
#divimage1{

    width:500px;
    height:300px;
    float:left;
}
#Button1{
	float: right;
	color: white;
	background-color:royalblue;
	border-radius:7px;
    font-weight:900;
    margin-top:200px;

}